In [ ]:
import pandas as pd
  
# reading two csv files
data1 = pd.read_csv('final food retail price.csv')
data2 = pd.read_csv('final manual labour.csv')
  
# using merge function by setting how='inner'
output1 = pd.merge(data1, data2, 
                   on=['Month','Year'], 
                   how='inner')
  
# displaying result
print(output1)

In [ ]:
df1 = pd.read_csv('updated monthly food retail prices.csv')
df2 = pd.read_csv('updated manual labour.csv')

df = df1.merge(df2, on='Year')

In [ ]:
import pandas as pd
  
# reading two csv files
data1 = pd.read_csv('final food retail price.csv')
data2 = pd.read_csv('final manual labour.csv')

In [ ]:
import numpy as np
data1.Year.unique()

In [ ]:
data2.Year.unique()

In [ ]:
dt1=data1.Centre.unique().astype("str")

In [ ]:
dt2=data2.Centre.unique().astype("str")

In [ ]:
np.intersect1d(np.char.lower(dt1),np.char.lower(dt2))

In [ ]:
data1

In [ ]:
data1.drop(['Unnamed: 0', 'Unnamed: 0.1','Unnamed: 0.1.1'], axis = 1)

In [ ]:
data2

In [ ]:
data2=data2.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)

In [ ]:
data1=data1.drop(['Unnamed: 0', 'Unnamed: 0.1','Unnamed: 0.1.1'], axis = 1)

In [ ]:
data1

In [ ]:
data2

In [ ]:
data1

In [ ]:
data1.drop(['Unnamed: 0', 'Unnamed: 0.1','Unnamed: 0.1.1'], axis = 1)

In [ ]:
df2 = data1.apply(lambda x: x.astype(str).str.upper())

In [ ]:
df2.drop(['Unnamed: 0', 'Unnamed: 0.1','Unnamed: 0.1.1'], axis = 1)

In [ ]:
data2=data2.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)
data2

In [ ]:
df2=df2.drop(['Unnamed: 0', 'Unnamed: 0.1','Unnamed: 0.1.1'], axis = 1)

In [ ]:
df2.to_csv("final food retail.csv")

In [ ]:
data2.to_csv("final manual.csv")

In [1]:
df2

NameError: name 'df2' is not defined